<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        
        <script src="/socket.io/socket.io.js"></script>
        <title>Coderhouse Backend - Heroku</title>
    </head>
    <body>
        <div class="container">
            <% if (user) { %>
				<div class="user">
						<h3>Bienvenido <%= user %></h3>
						<a href="/logout">Logout</a>                                   
				</div>
			<% } %>
            <form action="/productos" method="POST" class="form-files">
                <input type="text" placeholder="Nombre" name="title">
                <input type="text" placeholder="Precio" name="price">
                <input type="text" placeholder="URL Imagen" name="thumbnail">
                <input type="submit" value="Enviar">
            </form>
            <div id='messages'></div>
            <form action="javascript:void(0);" onsubmit="return addMessage(this)">
                <input type="text" id="email" placeholder="Tu Nombre" >
                <input type="text" id="texto" placeholder="Cuéntanos algo...">
                <input type="submit" value="Enviar">
            </form>
            <div id="products"></div>
        </div>
    </body>
    <script src="main.js"></script>
</html>